.cars{
    font-size: 10px;
    text-align: center;
}
.carsText{
    font-size: 30px;
    text-align: center;
}
.search-area{
    width: 50%;
    margin-left: 25%;
}
.curryncy{
    width: 30px;
}
.money-area{
    float: right;
    margin: 5px;
}
.horizontal{
    float: left;
    line-height: 40px;
    font-size: 15px;
    color: white;
    margin-top: 20px;
    width: 500px; 
    margin-right: 10px;
    text-align: center; 
    margin-left: 1%;
}
.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.currency{
    font-size: 15px;
}
.moreInformation{
    margin-top: 3%;
}
