.cars{
    font-size: 10px;
    text-align: center;
}
.carsText{
    font-size: 30px;
    text-align: center;
}
.search-area{
    width: 50%;
    margin-left: 25%;
}
.curryncy{
    width: 30px;
}
.money-area{
    float: right;
    margin: 5px;
}
.horizontal{
    float: left;
    line-height: 40px;
    font-size: 15px;
    color: white;
    margin-top: 20px;
    width: 500px; 
    margin-right: 10px;
    text-align: center; 
    margin-left: 1%;
}
.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.currency{
    font-size: 15px;
}
.moreInformation{
    margin-top: 3%;
}
.byeCard{
    margin-top: 1%;
}
.styleForFotoBuy{
    height: 260px; 
    width:445px; 
    margin: 0px 2px 0px 12%; 
    border:1px solid black;
}
.close{
    margin-bottom:20px;
}
.staticText{
    font-size: 20px; 
    color: black;
}
.buyCar{
    margin-top:15px;
}
.carList{
    width: 99%; 
    margin-left:3px;
}
.productName{
    text-transform: uppercase; 
    font-size:20px;
}
.imgCarList{
    height: 140px; 
    width:200px;
}
.imgMoreInformation{
    height: 300px; 
    width:500px; 
    margin: 20px;  
    margin-left: 10%;
}
.fontSizeMoreInformation{
    font-size:20px
}