.search{
    width: 15%;
    text-align: center;
    margin-left: 40%;
}
.carsText{
    font-size: 30px;
    margin-left: 33%;
    text-transform:uppercase;
    color: rgb(88, 85, 85);
}
.btn-lang{
    float: right;
}
.btn{
    width: 40px;
    margin: 5px;
}
